.mainContainer,
.mainContainer * {
  box-sizing: border-box;
}
.mainContainer {
  background-color: whitesmoke;
  width: 100%;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-x: hidden;
  color: black;
  position: relative;
}

.mainContainer .box {
  position: relative;
  height: 100%;
  min-width: 100%;
  right: var(--shift);
}

.mainContainer .arrowDiv {
  position: absolute;
  --dem: 25px;
  width: var(--dem);
  height: var(--dem);
  background-color: gray;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 3px;
  opacity: 0.3;
  cursor: pointer;
}

.mainContainer .arrowDiv:hover {
  opacity: 0.6;
}
.mainContainer .arrowDiv:active {
  opacity: 1;
}

.mainContainer .arrowDiv img {
  --demImg: 16px;
  width: var(--demImg);
  height: var(--demImg);
  background-color: gray;
}

.mainContainer .arrowLeft {
  left: 10px;
  transform: rotate(-90deg);
}
.mainContainer .arrowRight {
  right: 10px;
  transform: rotate(90deg);
}

.circleContainer {
  position: absolute;
  width: 100px;
  height: 30px;
  background-color: gray;
  opacity: .3;
  bottom: 5px;
  border-radius: 3px;
}

.circleContainer:hover {
  background-color: gray;
  opacity: .6;
}
